extends ../layout/base

block content
	.row(style="margin:0px;")
		.col-md-2.order-3
			.card(style="height:;")
				.card-header.info-color.white-text.text-center.py-4
					strong SWITCH
				.card-body
						input#validasi.form-control(type='text', placeholder='Text Validation')
						button.form-control.btn-danger#btnSend.mt-2 ACTION
		.col-md-5.order-2
			.card
				.card-header.info-color.white-text.text-center.py-4
					strong Broadcast Info Custom
				.card-body.px-lg-5.pt-5
					.text-center(style='color: #757575;')
					.md-form.mt-0
							input#msgTitle.form-control(type='text', name='messageTitle' required)
							label(for='msgTitle') Message Title
						.md-form
							textarea#msgPayload.form-control(type='text', name='message' aria-describedby='msgPayloadHelpBlock' required)
							label(for='msgPayload') Message
							small#materialRegisterFormPasswordHelpBlock.form-text.text-muted.mb-4
								| max 30 words
						button.btn.btn-outline-info.btn-rounded.btn-block.my-4.waves-effect.z-depth-0#btnPushCustom(type='') Push Notif
						button.btn.btn-outline-info.btn-rounded.btn-block.my-4.waves-effect.z-depth-0#btnWaCustom(type='') Whatsapp
		.col-md-5.order-1
			.card
				.card-header.info-color.white-text.text-center.py-4
					strong Broadcast Info Default
				.card-body.px-lg-5.pt-5
					.text-center(style='color: #757575;')
						.form-group.row.form(name='input')

							label.col-sm-4.col-form-label(for='siteOpt') Stasiun
							.col-sm-8
								select.form-control#siteOpt
									option Katulampa
									option Depok
									option Manggarai
							label.col-sm-4.col-form-label.mt-2(for='ichOpt') ICH
							.col-sm-8.mt-2
								select.form-control#ichOpt
									option Tidak Hujan
									option Hujan Ringan
									option Hujan Sedang
									option Hujan Lebat
									option Hujan Sangat Lebat
							label.col-sm-4.col-form-label.mt-2(for='statusOpt') Status
							.col-sm-8.mt-2
								select.form-control#statusOpt
									option Siaga4
									option Siaga3
									option Siaga2
									option Siaga1
							label.col-sm-4.col-form-label.mt-2(for='statusOpt') Value
							.col-sm-8.mt-2
								.form-row
									.col
										.md-form
											input#inputTma.form-control(type='text', name='TMA' required)
											label(for='inputTma') TMA
									.col
										.md-form
											input#inputIch.form-control(type='text', name='ICH' required)
											label(for='inputIch') ICH
						mixin button(id,value)
							button.btn.btn-outline-info.btn-rounded.btn-block.my-4.waves-effect.z-depth-0(id=id )=value
						+button('btnPushDefault','Push Notif')
						+button('btnPublishDefault','Publish')
						+button('btnWaDefault','Whatsapp')


block script
	script.
		var socket = io.connect(BASE_URL)

		$("#btnSend").click(function(){
			var valid = $("#validasi").val()
			console.log(valid)
			if(valid=='12345'){
				socket.emit('publish','SEND')
				alert('PUBLISHED!')
			}
		})

		function notifCustom(notif){
			dataCustom={
			'type'	: 'custom',
			'msgTitle' : $('#msgTitle').val(),
			'msgPayload' : $('#msgPayload').val()
			}
			if(dataCustom.msgTitle==''||dataCustom.msgPayload==''){
				alert('Form tidak boleh kosong!')
			}else{
				socket.emit(notif,dataCustom)
			}			
		}
		
		$('#btnPushCustom').click(()=>{
			notifCustom('pushNotif')
		})
		$('#btnWaCustom').click(()=>{
			notifCustom('waNotif')
		})
		function fncDataInput(){
			dataInput={
				'siteOpt' : $('#siteOpt').val(),
				'ichOpt' : $('#ichOpt').val(),
				'statusOpt' : $('#statusOpt').val(),
				'inputTma' : $('#inputTma').val(),
				'inputIch' : $('#inputIch').val()
			}
		}
		$('#btnPushDefault').click(()=>{
			fncDataInput()
			msgPayload = {
						'pos': dataInput.siteOpt, 
						'status': dataInput.statusOpt,
						'kondisi': dataInput.ichOpt,
						'tma' : dataInput.inputTma,
						'ich': dataInput.inputIch}
			data={
				'msgPayload' : msgPayload
			}
			if(dataInput.inputTma==''||dataInput.inputIch==''){
				alert('Form tidak boleh kosong!')
				$('#inputIch').css('background', '#ffdddd');
				$('#inputIch').css('background', '#ffdddd');
			}else{
				socket.emit('pushNotif',data)
				alert('Broadcast Success!')
				dataInput=''
			}

		})
		$('#btnWaDefault').click(()=>{
			fncDataInput()
			title = 'Warning'
			msgPayload = {
						'pos': dataInput.siteOpt, 
						'status': dataInput.statusOpt,
						'kondisi': dataInput.ichOpt,
						'tma' : dataInput.inputTma,
						'ich': dataInput.inputIch}
			dataDefault={
				'type'	: 'default',
				'msgTitle' : title,
				'msgPayload' : msgPayload
			}
			dataInput.inputTma=='' || dataInput.inputIch=='' ? 
			alert('form kosong') : 
			socket.emit('waNotif',dataDefault),
			alert('Broadcast Success!')

		})
		$('#btnPublishDefault').click(()=>{
			socket.emit('publishWarning',dataInput)
			console.log(dataInput)
		})

		$('#inputTma').change(()=>{
			console.log($('#inputTma').val())
		})

