extends ../layout/base

block content
	.row(style="margin:0px;")
		//- .col-md-2.order-3
			.card(style="height:;")
				.card-header.info-color.white-text.text-center.py-4
					strong SWITCH
				.card-body
						input#validasi.form-control(type='text', placeholder='Text Validation')
						button.form-control.btn-danger#btnSend.mt-2 ACTION
		.col-md-6.order-2
			.card
				.card-header.info-color.white-text.text-center.py-4
					strong Broadcast Info Custom
				.card-body.px-lg-5.pt-5
					.text-center(style='color: #757575;')
					.md-form.mt-0
							input#msgTitle.form-control(type='text', name='messageTitle' required)
							label(for='msgTitle') Message Title
						.md-form
							textarea#msgPayload.form-control(type='text', name='message' aria-describedby='msgPayloadHelpBlock' required)
							label(for='msgPayload') Message
							small#materialRegisterFormPasswordHelpBlock.form-text.text-muted.mb-4
								| max 30 words
						button.btn.btn-outline-info.btn-rounded.btn-block.my-4.waves-effect.z-depth-0#btnPushCustom(type='') Push Notif
						button.btn.btn-outline-info.btn-rounded.btn-block.my-4.waves-effect.z-depth-0#btnWaCustom(type='') Whatsapp
		.col-md-6.order-1
			.card
				.card-header.info-color.white-text.text-center.py-4
					strong Broadcast Info Default
				.card-body.px-lg-5.pt-5
					.text-center(style='color: #757575;')
						.form-group.row.form(name='input')

							label.col-sm-4.col-form-label(for='siteOpt') Stasiun
							.col-sm-8
								select.custom-select.form-control#optSite
									for site in siteData
										option(value="#{site.site}") #{site.pos}
							label.col-sm-4.col-form-label.mt-2(for='ichOpt') ICH
							.col-sm-8.mt-2
								select.form-control#ichOpt
									option Tidak Hujan
									option Hujan Ringan
									option Hujan Sedang
									option Hujan Lebat
									option Hujan Sangat Lebat
							label.col-sm-4.col-form-label.mt-2(for='statusOpt') Status
							.col-sm-8.mt-2
								select.form-control#statusOpt
									option Siaga4
									option Siaga3
									option Siaga2
									option Siaga1
							label.col-sm-4.col-form-label.mt-2(for='statusOpt') Value
							.col-sm-8.mt-2
								.form-row
									.col
										.md-form
											input#inputTma.form-control(type='text', name='TMA' required)
											label(for='inputTma') TMA
									.col
										.md-form
											input#inputIch.form-control(type='text', name='ICH' required)
											label(for='inputIch') ICH
						mixin button(id,value)
							button.btn.btn-outline-info.btn-rounded.btn-block.my-4.waves-effect.z-depth-0(id=id )=value
						+button('btnPushDefault','Push Notif')
						+button('btnPublishDefault','Publish')
						+button('btnWaDefault','Whatsapp')


block script
	script.
		var socket = io.connect(BASE_URL)
		// var siteData= !{siteData}
		// console.log(siteData)
	script(src="/js/views/broadcastNControl.js")