extends ../layout/base
block content	
	section.content
		
		.row
			.col-md-8
				.row
					.col-md-3.col-sm-3.col-3
						.info-box
							span.info-box-icon.bg-warning
								i.fas.fa-car-battery
							.info-box-content
								span.info-box-text Sisa Baterai
								span.info-box-number.skb
								span %
								span.description-percentage.text-success

					.col-md-3.col-sm-3.col-3
						.info-box
							span.info-box-icon.bg-info
								i.fas.fa-clock
							.info-box-content
								span.info-box-text Estimasi Baterai
								span.info-box-number.edb
								span Jam
								span.description-percentage.text-success

					.col-md-3.col-sm-3.col-3
						.info-box
							span.info-box-icon.bg-success
								i.fas.fa-solar-panel
							.info-box-content
								span.info-box-text Index Panel Surya
								span.info-box-number.inps
								span.description-percentage.text-success
					.col-md-3.col-sm-3.col-3
						.info-box
							span.info-box-icon.bg-success
								i.fas.fa-temperature-high
							.info-box-content
								span.info-box-text Suhu Box Logger
								span.info-box-number.t
								span Celcius
								span.description-percentage.text-success
				.card.border-primary
					.card-header: .text-center
						strong CHART REALTIME TEGANGAN - WAKTU
					.card-body
						#vChart
				.card.border-primary
					.card-header: .text-center
						strong CHART REALTIME ARUS - WAKTU
					.card-body
						#iChart

			.col-md-4
				.card.border-primary
					.card-header Option
					.card-body: .row.no-gutters
						.col-2 
							h6.ml-2 Date :
							h6.ml-2 POS :
						.col-6
							input(type='date').form-control#dateReq
							select.custom-select.form-control#optSite
								for site in dataSite
									option(value="#{site.site}") #{site.pos}
						.col-4
							input(type='submit' value='GET' style='height:100%').form-control.btn-light#getBtn
				.card.border-primary
					.card-header DPS STATUS POS : 
						span.siteDps
					.card-body
						table.table
							
							tr: td Updated
								td.dtDps
							tr: td TMA
								td.KondTma
								td.tma: td cm
							tr: td CH
								td.KondCh
								td.ch: td mm
							tr: td V Air
								td.KondV
								td.vair: td m/s
							
				.card.border-primary
					.card-header LAST RECORD DPCD POS : 
						span.site
					.card-body
						table.table
							tr: td Datetime
								td.dt
							tr: td Lux
								td.lx: td Lux
							tr: td Suhu Logger
								td.t: td C 
							tr: td Sisa Kapasitas Baterai
								td.skb: td %
							tr: td Estimasi Daya Baterai
								td.edb: td Jam
							tr: td Daya solar panel
								td.wps: td Watt
							tr: td Index solar panel
								td.inps

						table.table.table-bordered
							thead
								td Titik :
								td V 
								td I 
							tbody
								tr
									td Panel Regulator
									td.vpr  
									td.ipr
								tr
									td Batterai Regulator
									td.vbr 
									td.ibr
								tr
									td Regulator Beban
									td.vrl 
									td.irl
		
		.card.border-primary
				.text-center.mt-2
					strong TABLE REALTIME HARIAN
				.card-body.border-primary
					.table-responsive(style="height:400px;overlay:auto;")
						table.table.thead-dark
							thead
								td Site
								td date
								td Lux
								td T
								td SKB
								td EDB
								td WPS
								td inps
								td VBR
								td VPR
								td VRL
								td IBR
								td IPR
								td IRL
							tbody#tblContent



block script
	script.
		$('#dateReq').val(moment().add(7,'hours').format('YYYY-MM-DD'))
		var socket = io.connect(BASE_URL);
		siteData= !{siteData}
	script(src="/js/views/qc.js")