extends ../layout/base
block content	
	section.content
		.row
			.col-md-8
					.card
						#vChart
					.card
						#iChart 

			.col-md-4
				h6 PILIH SITE
				.card
					.row
						.col-8
							select.custom-select.form-control#optSite
								for site in siteData
									option(value="#{site.site}") #{site.pos}
						.col-4
							input(type='submit' value='GET' style='height:100%').form-control.btn-light#getBtn
				.card
					.card-header DPS STATUS
						span.siteDps
					.card-body
						table.table
							
							tr: td Updated
								td.dtDps
							tr: td TMA
								td.KondTma
							tr: td CH
								td.KondCh
							tr: td V Air
								td.KondV
							
				.card
					.card-header LAST RECORD 
						span.site
					.card-body
						table.table
							tr: td Datetime
								td.dt
							tr: td Lux
								td.lx 
							tr: td Suhu Logger
								td.t
							tr: td Sisa Kapasitas Baterai
								td.skb
							tr: td Estimasi Daya Baterai
								td.edb
							tr: td Daya solar panel
								td.wps
							tr: td Fungsi Daya solar panel
								td.fwps

						table.table.table-bordered
							thead
								td Titik :
								td V 
								td I 
							tbody
								tr
									td Panel Regulator
									td.vpr
									td.ipr
								tr
									td Batterai Regulator
									td.vbr
									td.ibr
								tr
									td Regulator Beban
									td.vrl
									td.irl



block script
	script.
		var socket = io.connect(BASE_URL);
	script(src="/js/views/qc.js")