doctype html
html
  head
    meta(charset='UTF-8')
    title FEWS | Log in
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/css/adminlte.min.css')
    //- link(href='/adminlte/plugins/iCheck/square/blue.css', rel='stylesheet', type='text/css')
  body.login-page
    .card
      .card-header
        a(href='/')
          .text-center
            b FEWS STMKG
      .card-body
        p.login-box-msg Silahkan Login!
        form(action='/users/login', method='POST', role='form')
          - if (messages.msg_error)
            .alert.alert-danger.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              | #{messages.msg_error}
          - if (messages.msg_info)
            .alert.alert-success.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              | #{messages.msg_info}
          .form-group.has-feedback
            input.form-control(type='text', placeholder='Username', name='username', value='')
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password', name='password', value='')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .col-xs-12
            input.btn.btn-primary.btn-block.btn-flat(type='submit', value='Log In')
        .col-xs-12
          a.btn.btn-info.btn-block.btn-flat(href='signup') Daftar

    script(src='https://code.jquery.com/jquery-3.5.1.min.js')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js')
