extends ../layout/base
block content

  .card
    .card-header
      h3 Siaga Banjir
    .card-body
      p
        | Bencana banjir hampir setiap musim penghujan melanda Indonesia. Berdasarkan nilai kerugian dan frekuensi kejadian bencana banjir terlihat adanya peningkatan yang cukup berarti. Kejadian bencana banjir tersebut sangat dipengaruhi oleh faktor alam berupa curah hujan diatas normal dan adanya pasang naik air laut. Disamping itu faktor ulah manusia juga berperan penting seperti penggunaan lahan yang tidak tepat (pemukiman di daerah bantaran sungai dan daerah resapan air) penggundulan hutan, pembuangan sampah, kedalam sungai dsb.
      br
      h5 SEBELUM BANJIR
      p
        | Bersihkan saluran air, menanami pohon dan tidak membuang sampah sembarangan
        | Kenali gejala banjir pada saat curah hujan tinggi
        | Tentukan daerah evakuasi aman dengan sanitasi bersih
      h5 SAAT BANJIR
      ul
        li Matikan aliran listrik di dalam rumah atau hubungi PLN untuk mematikan aliran 
        li listrik di wilayah terkena banjir
        li Mengungsi ke daerah aman sedini mungkin saat genangan air bisa diseberangi
        li Hindari berjalan di dekat saluran air supaya tidak terseret dengan arus air
        li Amankan dokumen-dokumen penting
        li
          | Terus memantau perkembangan banjir melalui radio atau dari petugas penanggulangan bencana
      h5 SETELAH BANJIR
      ul
        li Secepatnya bersihkan sekolah/rumah yang tertutup dengan lumpur
        li
          | Cari dan persiapkan air bersih untuk menghindari wabah diare/li>
        li Waspada terhadap binatang berbisa seperti ulardan lipan
        li Mengeringkan alat-alat elektronik sebelum mengunakan
