extends ../layout/base
block content
	.card
		.card-header
			h3 Subscribe Noitifikasi Bencana (Push Notifikasi)
		.card-body
			.row
				.col-3
					.card
						img(src='/images/tutorial/pn_home.jpeg').card-img-top
						.card-body
							p Langkah 1
							| Klik gambar gembok di samping input URL
				.col-3
					.card
						img(src='/images/tutorial/pn_opt.jpeg').card-img-top
						.card-body
							p Langkah 2
							| Setelan Situs
				.col-3
					.card
						img(src='/images/tutorial/pn_reset.jpeg').card-img-top
						.card-body
							p Langkah 3
							| Reset pengaturan atau setel ulang
							| Lakukan Reload / buka kembali halaman utama 
				.col-3
					.card
						img(src='/images/tutorial/pn_izin.jpeg').card-img-top
						.card-body
							p Langkah 4
							| Pilih izinkan notifikas
	.row
		.col-6
			.card
				.card-header
					h3 Noitifikasi Whatsapp
				.card-body
					.row.no-gutters
						.col-6
								img(src='/images/tutorial/wa_regis.jpeg').card-img-top
								.card-body
									
						.col-6
							.card-body
									p langkah 1 	
									| Lakukan pendaftaran akun pada situs dengan memasukkan nomor Whatsapp dengan benar#[a(href='https://peringatandini.site') (daftar disini)]
									br
									br
									p Langkah 2
									| Kirim pesan whatsapp pada bot buzzer peringatan dini:
									br
									| No : +14155238886
									br
									| Pesan : join official-guard
									br
									| Jika membuka halaman ini menggunakan Smartphone #[a(href='https://wa.me/14155238886?text=join%20official-guard') Klik Disisi ]
									
		.col-6
			.card
				.card-header
					h3 Contoh Noitifikasi Bencana
				.card-body
					.row
						.col-6
							.card
								img(src='/images/tutorial/pn_sc.jpeg').card-img-top
								.card-body
									p Contoh 1 (Push Notifikasi)
									| Ketika smartphone dalam keadaan terkunci
						.col-6
							.card
								img(src='/images/tutorial/wa_notif.jpeg').card-img-top
								.card-body
									p Contoh 2 (Pesan Whatsapp)
									| Pesan Whatsapp pada smartphone
