footer.main-footer
  strong
    | Flood Early Warning System STMKG  ©2019 
    a(href='https://twitter.com/alfanalfaris') Alfan Alfarisy
  .float-right.d-none.d-sm-inline-block
    b Version
    |  1.0