meta(name='viewport', content='width=device-width, initial-scale=0.8')
link(rel='shortcut icon', type='image/jpg', href='/images/favicon.png')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.0.5/css/adminlte.min.css')
//- link(rel='stylesheet', href='/stylesheets/font-weather/weather-icons.min.css')
link(rel='stylesheet', href='/stylesheets/cuaca.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.6.0/leaflet.css')
link(rel='stylesheet', href='https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css')
	
link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css')
link(rel='stylesheet', href='https://www.w3schools.com/lib/w3.css')
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css')
link(rel='stylesheet', href='/stylesheets/main.css')

script(src='https://code.jquery.com/jquery-3.5.1.min.js')
script.
	//- var BASE_URL = 'https://peringatandini.site';
	var BASE_URL = 'http://localhost:3000';