doctype html
html
  head
    meta(charset='UTF-8')
    title FEWS | Log in
    meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
    link(href='/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/font-awesome/css/fontawesome.min.css', rel='stylesheet', type='text/css')
    link(href='/adminlte/dist/css/adminlte.min.css', rel='stylesheet', type='text/css')
    link(href='/adminlte/plugins/iCheck/square/blue.css', rel='stylesheet', type='text/css')
  body.login-page
    .card
      .card-header
        a(href='/')
          .text-center
            b FEWS STMKG
      .card-body
        p.login-box-msg Silahkan Login!
        form(action='/users/login', method='POST', role='form')
          - if (messages.msg_error)
            .alert.alert-danger.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              | #{messages.msg_error}
          - if (messages.msg_info)
            .alert.alert-success.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              | #{messages.msg_info}
          .form-group.has-feedback
            input.form-control(type='text', placeholder='Username', name='username', value='')
            span.glyphicon.glyphicon-user.form-control-feedback
          .form-group.has-feedback
            input.form-control(type='password', placeholder='Password', name='password', value='')
            span.glyphicon.glyphicon-lock.form-control-feedback
          .col-xs-12
            input.btn.btn-primary.btn-block.btn-flat(type='submit', value='Log In')
        .col-xs-12
          a.btn.btn-info.btn-block.btn-flat(href='signup') Daftar

    script(src='/adminlte/plugins/jquery/jquery.min.js')
    script(src='/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js', type='text/javascript')
    script(src='/adminlte/plugins/iCheck/icheck.min.js', type='text/javascript')

