extends layout/base
block content
	//- script(src="https://kit.fontawesome.com/a076d05399.js")
	.card
		.card-header
			.card-title Prediksi Cuaca Jakarta Selatan
		.card-body
			.owl-carousel.cuaca#infoCuaca

block script
	script(src="https://kit.fontawesome.com/a076d05399.js")
	script(src="/js/views/weather.js")
